body {
  background-color: #fafafa !important;
}

.container-checkout {
  padding: 24px;
}

.go-back {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.section-checkout {
  background: #ffffff;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 24px;
}

.section-checkout h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 38.25px;
  letter-spacing: 1px;
  color: #000000;
}

.section-checkout h4 {
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 0.93px;
  color: #d87d4a;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.section-checkout input[type="text"],
input[type="email"],
input[type="number"] {
  border: 1px solid #cfcfcf;
  color: #ffffff;
  border-radius: 8px;
  border-width: 1px;
  margin-top: 9px;
  width: 100%;
  padding: 15px;
  border: 1px solid #cfcfcf;
  border-radius: 8px;
  font-size: 14px;
  color: #000;
}

.section-checkout label {
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 16.39px;
  letter-spacing: -0.21px;
  color: #000000;
  margin-bottom: 24px;
}

.section-checkout input::placeholder {
  font-weight: 700;
  font-size: 14px;
  line-height: 19.12px;
  letter-spacing: -0.25px;
  color: rgb(0, 0, 0, 0.4);
}

.payment-details input[type="radio"] {
  display: none;
}

.payment-details .custom-radio {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  margin-right: 15px;
  position: relative;
}

.payment-details input[type="radio"]:checked + .custom-radio::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #d87d4a;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.payment-method label {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: border 0.3s ease;
}

.checkout-summary {
  background: #ffffff;
  border-radius: 8px;
  padding: 24px;
  margin-block: 32px 92px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.checkout-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;

  p {
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    color: rgba(0, 0, 0, 0.5);
  }
}

.checkout-product-detail {
  display: flex;
  align-items: center;
  gap: 16px;

  h3 {
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    color: #000000;
  }

  p {
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0px;
    color: rgba(0, 0, 0, 0.5);
  }
}

.pay-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;

  p {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    color: rgba(0, 0, 0, 0.5);
  }

  h6 {
    font-weight: 700;
    font-size: 18px;
    line-height: 24.59px;
    letter-spacing: 0px;
    color: #000000;
  }
}

.grand-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 24px 32px;

  p {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    color: rgba(0, 0, 0, 0.5);
  }

  h6 {
    font-weight: 700;
    font-size: 18px;
    line-height: 24.59px;
    letter-spacing: 0px;
    color: #d87d4a;
  }
}

.product-detail .btn {
  background: #d87d4a;
  font-weight: 700;
  font-size: 13px;
  line-height: 17.76px;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
  width: 100%;
  display: block;
  padding-block: 15px;
  text-decoration: none;
}

.payment-detailss h3 {
  font-weight: 700;
  font-size: 12px;
  line-height: 16.39px;
  letter-spacing: -0.21px;
  color: #000000;
  margin-block: 17px;
}

.checkout-summary h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 24.59px;
  letter-spacing: 1.29px;
  color: #000000;
  margin-block: 32px;
}

.desktop {
  display: none;
}

.mobil {
  display: block;
}

dialog {
  margin: auto 24px;
  border: none;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 32px;

  h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.86px;
    color: #000000;
    margin-block: 23px 16px;
  }
  h6 {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    color: rgba(0, 0, 0, 0.5);
  }
}

.dialog-product {
  background: #f1f1f1;
  border-radius: 8px;
  padding: 24px;
  margin-top: 24px;
  text-align: center;

  p {
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0px;
    color: rgba(0, 0, 0, 0.5);
  }

  h3 {
    font-weight: 700;
    font-size: 12px;
    line-height: 16.39px;
    letter-spacing: -0.21px;
    color: rgb(0, 0, 0, 0.5);
    padding-top: 12px;
  }
}

.dialog-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding-bottom: 12px;
}

.dialog-product-detail {
  display: flex;
  align-items: center;
  gap: 16px;

  h3 {
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    color: #000000;
  }
}

.dialog-pay-details {
  background: #000000;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 24px 15px;
  p {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    color: rgb(255, 255, 255, 0.5);
    text-transform: uppercase;
    padding-bottom: 8px;
  }

  h6 {
    font-weight: 700;
    font-size: 18px;
    line-height: 24.59px;
    letter-spacing: 0px;
    color: #ffffff;
  }
}

.return-home-btn {
  background: #d87d4a;
  font-weight: 700;
  font-size: 13px;
  line-height: 17.76px;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
  width: 100%;
  display: block;
  padding-block: 15px;
  text-decoration: none;
  margin-top: 23px;
}

/* tablet  */

@media (width >= 768px) {
  .container-checkout {
    padding-inline: 40px;
  }

  .billing-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
  }

  .shipping-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    & label:nth-child(1) {
      grid-column: span 2;
    }
  }

  .payment-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
  }

  .desktop {
    display: none;
  }

  .mobil {
    display: block;
  }

  dialog {
    margin: auto;
    padding: 48px;
  }

  .dialog-content {
    display: grid;
    grid-template-columns: auto auto;
    min-width: 444px;
  }

  .dialog-pay-details {
    margin-top: 24px;
    padding: 41px 24px;
  }
}
/* Desktop */
@media (width >= 1440px) {
  .container-checkout {
    max-width: 1140px;
    margin-inline: auto;
  }

  .section-checkout {
    padding-inline: 48px;
  }

  .product-detail {
    display: grid;
    grid-template-columns: 1fr 350px;
    align-items: flex-start;
    gap: 16px;
  }

  .desktop {
    display: flex;
    align-items: center;
    gap: 32px;
    p {
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0px;
      color: rgba(0, 0, 0, 0.5);
    }
  }

  .mobil {
    display: none !important;
  }
}
