@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: "Manrope", serif;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

button {
  cursor: pointer;
}

.header {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 32px 24px;
  .navbar {
    display: none;
  }
  label {
    display: flex;
    input {
      appearance: none;
    }
    img {
      cursor: pointer;
    }
  }
}

.container {
  padding: 106px 24px;
}

.hamburger-menu-container {
  position: fixed;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  margin-top: 32px;
  border: none;
  padding: 0;
}

.cart-dialog {
  position: fixed;
  overflow-y: auto;
  top: 80px;
  width: 100%;
  height: 100%;
  background: #00000080;
}

.cart-container {
  padding: 32px 28px;
  background-color: #fff;
  border-radius: 8px;
  display: grid;
  gap: 32px;
  max-width: 377px;
  margin-left: auto;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  button {
    border: none;
    background-color: transparent;
    text-decoration: underline;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #00000080;
  }
}

.cart-item-list {
  display: grid;
  gap: 24px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  figure {
    background-color: #f1f1f1;
    padding: 12px;
    border-radius: 8px;
    img {
      max-width: 36px;
    }
  }
}

.cart-item-count {
  display: flex;
  gap: 12px;
  align-items: center;
  background-color: #f1f1f1;
  padding-block: 8px;
  font-weight: 700;
  font-size: 13px;
  line-height: 17.76px;
  letter-spacing: 1px;

  button {
    background-color: transparent;
    border: none;
    padding: 8px 12px;
  }
}

.cart-item-metadata {
  h3 {
    font-size: 15px;
    line-height: 25px;
  }
  p {
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    color: #00000080;
  }
}

.cart-total-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  span {
    font-size: 15px;
    line-height: 25px;
    color: #00000080;
  }
  h3 {
    font-size: 18px;
    line-height: 24.59px;
  }
}

.cart-checkoutBtn {
  background-color: #d87d4a;
  border: none;
  color: #fff;
  padding: 16px;
  font-weight: 700;
  font-size: 13px;
  line-height: 17.76px;
  letter-spacing: 1px;
}

.categories {
  padding: 82px 24px 100px 24px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 68px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.category-item {
  background-color: #f1f1f1;
  width: 100%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  padding-bottom: 22px;
  > img {
    margin-top: -50px;
    margin-bottom: 20px;
  }
  a {
    display: flex;
    align-items: center;
    gap: 16px;
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
    line-height: 17.76px;
    letter-spacing: 1px;
    color: #000;
    span {
      opacity: 0.5;
    }
    img {
      vertical-align: middle;
    }
  }
  h3 {
    font-size: 15px;
    line-height: 20.49px;
    letter-spacing: 1.07px;
  }
}

.footer {
  display: grid;
  justify-items: center;
  background-color: #000;
  padding: 0 24px 40px 24px;
  gap: 48px;
  .navbar {
    color: #fff;
    ul {
      list-style: none;
      padding: 0;
      display: grid;
      gap: 16px;
      text-align: center;
      li {
        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
  p {
    font-size: 15px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
  }
  hr {
    width: 100px;
    margin-inline: auto;
    border: 2px solid #d87d4a;
  }
}

.social-media {
  display: flex;
  gap: 16px;
}

.main-content {
  margin-top: 120px;
  display: grid;
  gap: 40px;
  img {
    border-radius: 12px;
    margin-inline: auto;
  }
}

.content-text {
  display: grid;
  gap: 32px;
  text-align: center;
  h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 38.25px;
    letter-spacing: 1px;
  }
  p {
    font-size: 15px;
    line-height: 25px;
    color: #00000080;
  }
}

.mark-orange {
  color: #d87d4a;
}

@media screen and (min-width: 768px) {
  .header {
    justify-content: flex-start;
    gap: 42px;
    padding: 32px 40px;
    > label:last-child {
      margin-left: auto;
    }
  }

  .container {
    padding: 122px 40px;
  }

  .categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 120px;
  }

  .main-content {
    margin-top: 120px;
    gap: 64px;
    img {
      width: 100%;
      max-height: 300px;
      object-fit: cover;
    }
  }

  .content-text {
    padding-inline: 80px;
    h3 {
      font-size: 40px;
      line-height: 44px;
      letter-spacing: 1.43px;
    }
  }

  .footer {
    justify-items: start;
    padding-inline: 40px;
    grid-template-columns: repeat(2, auto);
    hr {
      grid-column: 1 / -1;
      margin-inline: inherit;
    }
    .navbar {
      grid-column: 1 / -1;
      ul {
        display: flex;
        gap: 34px;
      }
    }
    p:nth-child(4) {
      grid-column: 1 / -1;
      text-align: left;
    }
    p:nth-child(5) {
      margin-top: 32px;
    }
  }

  .social-media {
    margin-left: auto;
    align-self: self-end;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1110px;
    margin-inline: auto;
  }

  .hamburger-menu {
    display: none;
  }

  .header {
    padding-inline: 165px;
    gap: 0;
    justify-content: space-between;
    .navbar {
      display: inherit;
      ul {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 32px;
        li {
          a {
            color: #fff;
            text-decoration: none;
            font-weight: 700;
            font-size: 13px;
            line-height: 25px;
            letter-spacing: 2px;
          }
        }
      }
    }
    > label:last-child {
      margin-left: inherit;
    }
  }

  .footer {
    column-gap: 150px;
    padding-inline: 165px;
    .navbar {
      grid-column: 2;
      margin-left: auto;
    }
    p:nth-child(4) {
      grid-column: 1;
    }
    p:nth-child(5) {
      grid-column: 1 / -1;
    }
  }

  .social-media {
    grid-column: 2;
    grid-row: 3;
  }

  .main-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 125px;
    img {
      max-height: inherit;
      grid-column: 2;
      grid-row: 1;
    }
  }

  .content-text {
    text-align: left;
    grid-column: 1;
    grid-row: 1;
    grid-auto-rows: max-content;
    align-content: center;
    padding: 0;
  }
}
